# Spring Application Configuration
spring:

  profiles:
    active: dev # 激活的配置文件，可以根据环境修改
  security:
    oauth2:
      authorizationserver:
        issuer: http://localhost:9000 # 授权服务器的Issuer URI，与AuthorizationServerConfig中配置的保持一致
  mail:
    host: smtp.qq.com
    port: 465
    password: flyeasakxhzodiih
    username: 2262135195@qq.com
    properties:
                mail:
                  smtp:
                    auth: true
                    ssl:
                      enable: true # QQ邮箱465端口必须开启SSL

  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    url: jdbc:postgresql://localhost:5432/cloud?currentSchema=auth
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver
    druid:
      initial-size: 5
      min-idle: 5
      max-active: 20
      max-wait: 60000
      time-between-eviction-runs-millis: 60000
      min-evictable-idle-time-millis: 300000
      validation-query: SELECT 1
      test-while-idle: true
      test-on-borrow: false
      test-on-return: false
      pool-prepared-statements: true
      max-pool-prepared-statement-per-connection-size: 20
      filters: stat,wall,log4j
      use-global-data-source-stat: true
      connection-properties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=5000
  rabbitmq:
    host: localhost
    port: 5672
    username: ${RABBITMQ_DEFAULT_USER}
    password: ${RABBITMQ_DEFAULT_PASS}
# Server Configuration
server:
  port: 9123 # 服务端口

justauth:
  enabled: false

# Logging Configuration (Log4j2 will pick up log4j2-spring.xml from common-core)
logging:
  level:
    root: INFO
    org.springframework.security: DEBUG # 方便调试Spring Security
    org.springframework.security.oauth2: DEBUG # 方便调试OAuth2流程